<div class=body>
<div><%= flash[:notice] %></div>

<h1>Books</h1>
<table>
  <thead>
  <tr>
   <th>Title</th>
   <th>Body</th>
   <th></th>
   </tr>
   </thead>
 <tbody>
    <tr><% @books.each do |book| %></tr>
   <td class="cell"><%= book.title %></td>
   <td class="cell"><%= book.body %></td>
   <td><%= link_to "Show", book_path(book.id), class: 'show' %></td>
   <td><%= link_to "Edit", edit_book_path(book.id), class: 'edit' %></td>
   <td><%= link_to "Destroy", book_path(book.id),class: 'destroy-link', method: :delete, "data-confirm" => "Are you sure?" %></td>
  <% end %>
 </tbody>
</table>

<div class="newbook">
<h2>New book</h2>

  <% if @book.errors.any? %>
   <div id="error_explanation">
   <h2><%= @book.errors.count %> errors prohibited this book from being saved:</h2>
     <ul>
      <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
     </ul>
   </div>
  <% end %>
<%= form_with model: @book do |f| %>
<div class="field">
  <div class="fild_with_erros">
    <label for="book_title">Title</label>
  </div>
  <div class="fild_with_erros">
    <div class="book_title"><%= f.text_field :title %></div>
  </div>
<div class="field">
  <div class="fild_with_erros">
    <label for="book_body">Body</label>
  </div>
  <div class="fild_with_erros">
    <div class="book_body"><%= f.text_area :body %></div>
  </div>
<div =create>
 <%= f.submit 'Create Book'%>
</div>
<% end %>
</div>